<% @policy.each do |pol|%>
  <table class="col-lg-7"><tr><td><h3><%= pol.name %></h3></td></tr></table>
<% end %>
<table class="col-lg-7">
  <tr>
    <th><label>Opt In</label></th>
    <th><label>TopUp Amount</label></th>
  </tr>
  <tr>
    <td>
      <div class="btn-group" id="toggle_optin_editing">
        <button type="button" class="btn btn-primary locked_active">OFF</button>
        <button type="button" class="btn btn-secondary unlocked_inactive">ON</button>
      </div>
    </td>
    <td>
      <% @policy.each do |etp|%>
        <div class="form-group">
          <%= select_tag("top_up_id", options_from_collection_for_select(optinTopup(etp.cycleId), "id", "coverage"),{include_blank: true}) %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
<script type="text/javascript">
$("#top_up_id").prop("disabled", true);
$('#toggle_optin_editing button').click(function(){
	if($(this).hasClass('locked_active') || $(this).hasClass('unlocked_inactive')){
		/* code to do when unlocking */
      $("#top_up_id").prop("disabled", false);
      $("#optinsurance").val(0);
	}else{
		/* code to do when locking */
     $("#top_up_id").prop("disabled", true);
     $("#optinsurance").val(1);
	}
	/* reverse locking status */
	$('#toggle_optin_editing button').eq(0).toggleClass('locked_inactive locked_active btn-secondary btn-primary');
	$('#toggle_optin_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-primary btn-secondary');
});

$('#top_up_id').on('change', function () {
  $('#optin_topup_modal').append('<%= j render partial: "optintopupmodal.html.erb" %>');
  $('#optin_topup_select_change').modal('show');
});
</script>
